In [2]:
import pandas as pd#read in the data using pandas
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [3]:
df = pd.read_csv("../data/data without infertility _final.csv") #,header = None, skiprows=1)#check data has been read in properly

In [20]:
print(df.columns)

Index(['Sl. No', 'Patient File No.', 'PCOS (Y/N)', ' Age (yrs)', 'Weight (Kg)',
       'Height(Cm) ', 'BMI', 'Blood Group', 'Pulse rate(bpm) ',
       'RR (breaths/min)', 'Hb(g/dl)', 'Cycle(R/I)', 'Cycle length(days)',
       'Marraige Status (Yrs)', 'Pregnant(Y/N)', 'No. of aborptions',
       'FSH(mIU/mL)', 'LH(mIU/mL)', 'FSH/LH', 'Hip(inch)', 'Waist(inch)',
       'Waist:Hip Ratio', 'TSH (mIU/L)', 'AMH(ng/mL)', 'PRL(ng/mL)',
       'Vit D3 (ng/mL)', 'PRG(ng/mL)', 'RBS(mg/dl)', 'Weight gain(Y/N)',
       'hair growth(Y/N)', 'Skin darkening (Y/N)', 'Hair loss(Y/N)',
       'Pimples(Y/N)', 'Fast food (Y/N)', 'Reg.Exercise(Y/N)',
       'BP _Systolic (mmHg)', 'BP _Diastolic (mmHg)', 'Follicle No. (L)',
       'Follicle No. (R)', 'Avg. F size (L) (mm)', 'Avg. F size (R) (mm)',
       'Endometrium (mm)', 'Unnamed: 42'],
      dtype='object')

In [21]:
#create a dataframe with all training data except the target column
X = df.drop(columns=["PCOS (Y/N)", "AMH(ng/mL)", "Unnamed: 42", "Marraige Status (Yrs)", "Fast food (Y/N)"])#check that the target variable has been removed
X.head()

,Sl. No,Patient File No.,Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),Hb(g/dl),...,Hair loss(Y/N),Pimples(Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
0,1,10001,28,44.6,152.0,19.300000,15,78,22,10.48,...,0,0,0,110,80,3,3,18.0,18.0,8.5
1,2,10002,36,65.0,161.5,24.921163,15,74,20,11.70,...,0,0,0,120,70,3,5,15.0,14.0,3.7
2,3,10003,33,68.8,165.0,25.270891,11,72,18,11.80,...,1,1,0,120,80,13,15,18.0,20.0,10.0
3,4,10004,37,65.0,148.0,29.674945,13,72,20,12.00,...,0,0,0,120,70,2,2,15.0,14.0,7.5
4,5,10005,25,52.0,161.0,20.060954,11,72,18,10.00,...,1,0,0,120,80,3,4,16.0,14.0,7.0

In [22]:
#separate target values
y = df["PCOS (Y/N)"].values#view target values

In [23]:
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [24]:
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 2)# Fit the classifier to the data
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [25]:
#show first 5 model predictions on the test data
y_pred = knn.predict(X_test)

In [26]:
#check accuracy of our model on the test data
knn.score(X_test, y_test)

0.7262569832402235

In [27]:
print("K nearest neighbours model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

K nearest neighbours model accuracy(in %): 72.62569832402235