In [5]:
import pandas as pd#read in the data using pandas
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [6]:
df = pd.read_csv("data/data without infertility _final.csv")#check data has been read in properly
df.head()

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 42
0,1,10001,0,28,44.6,152.0,19.300000,15,78,22,...,1.0,0,110,80,3,3,18.0,18.0,8.5,NaN
1,2,10002,0,36,65.0,161.5,24.921163,15,74,20,...,0.0,0,120,70,3,5,15.0,14.0,3.7,NaN
2,3,10003,1,33,68.8,165.0,25.270891,11,72,18,...,1.0,0,120,80,13,15,18.0,20.0,10.0,NaN
3,4,10004,0,37,65.0,148.0,29.674945,13,72,20,...,0.0,0,120,70,2,2,15.0,14.0,7.5,NaN
4,5,10005,0,25,52.0,161.0,20.060954,11,72,18,...,0.0,0,120,80,3,4,16.0,14.0,7.0,NaN

In [7]:
#create a dataframe with all training data except the target column
X = df.drop(columns=["PCOS (Y/N)"])#check that the target variable has been removed
X.head()

,Sl. No,Patient File No.,Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),Hb(g/dl),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 42
0,1,10001,28,44.6,152.0,19.300000,15,78,22,10.48,...,1.0,0,110,80,3,3,18.0,18.0,8.5,NaN
1,2,10002,36,65.0,161.5,24.921163,15,74,20,11.70,...,0.0,0,120,70,3,5,15.0,14.0,3.7,NaN
2,3,10003,33,68.8,165.0,25.270891,11,72,18,11.80,...,1.0,0,120,80,13,15,18.0,20.0,10.0,NaN
3,4,10004,37,65.0,148.0,29.674945,13,72,20,12.00,...,0.0,0,120,70,2,2,15.0,14.0,7.5,NaN
4,5,10005,25,52.0,161.0,20.060954,11,72,18,10.00,...,0.0,0,120,80,3,4,16.0,14.0,7.0,NaN

In [8]:
#separate target values
y = df["PCOS (Y/N)"].values#view target values
y[0:5]

SyntaxError: invalid character in identifier (<ipython-input-8-2096971b2080>, line 2)

In [4]:
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

NameError: name 'y' is not defined

In [ ]:
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 3)# Fit the classifier to the data
knn.fit(X_train,y_train)

In [ ]:
#show first 5 model predictions on the test data
knn.predict(X_test)[0:5]

In [ ]:
#check accuracy of our model on the test data
knn.score(X_test, y_test)